<footer class="pt-4 font-small">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-lg-4 mx-auto">
        <h5 class="font-weight-bold mb-4">MeilCli</h5>
        <p>
          .NET・Androidエンジニアー<br />最近はAzure PipelinesやGitHub
          ActionsでCI/CDするのにハマっている
        </p>
      </div>

      <div class="col-lg-4 col-6">
        <h5 class="font-weight-bold mb-4">リンク</h5>

        <ul class="list-unstyled mx-auto">
          <li>
            <p>
              <a
                class="btn-floating fa-icon mr-1"
                href="https://twitter.com/penguin_sharp"
                target="_blank"
              >
                <fa-icon [icon]="faTwitter"></fa-icon>
              </a>
              <a
                class="btn-floating fa-icon ml-1"
                href="https://github.com/MeilCli"
                target="_blank"
              >
                <fa-icon [icon]="faGithub"></fa-icon>
              </a>
            </p>
          </li>
          <li>
            <p>
              <a class="link" href="https://blog.meilcli.net/" target="_blank"
                >ブログ</a
              >
            </p>
          </li>
          <li>
            <p>
              <a class="link" href="https://qiita.com/MeilCli" target="_blank"
                >Qiita</a
              >
            </p>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-6 mx-auto">
        <h5 class="font-weight-bold mb-4">コンタクト</h5>
        <p>
          MeilCliにコンタクトを取りたい場合はTwitterのリプまたはDMでお願いします
        </p>
      </div>
    </div>
  </div>
  <div class="text-center py-3">
    © 2019 meil. This site is using
    <a href="https://angular.jp/" target="_blank">Angular</a>. Original source
    is published to
    <a href="https://github.com/MeilCli/AboutMe" target="_blank">GitHub</a>.
  </div>
</footer>
