<div class="container">
  <h3>MeilCliについて</h3>
  <p>C#大好きマン(あとペンギンの画像も好き)</p>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 mt-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">居住歴</h4>
          <p class="card-text">関西在住歴が一番長いけど関西弁話せないです</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">生誕: 広島</li>
          <li class="list-group-item">1才～: 横浜</li>
          <li class="list-group-item">8才～: 兵庫</li>
          <li class="list-group-item">18才・19才: 大阪</li>
          <li class="list-group-item">20才・21才: 兵庫</li>
          <li class="list-group-item">22才～: 大阪</li>
          <li class="list-group-item">24才～: 東京</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">好きなもの</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">C#</li>
          <li class="list-group-item">ペンギンの画像</li>
          <li class="list-group-item">Twitter</li>
          <li class="list-group-item">..etc</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">嫌いなもの</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Java</li>
          <li class="list-group-item">VisualBasic</li>
          <li class="list-group-item">きのこ</li>
          <li class="list-group-item">..etc</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">休日</h4>
          <p class="card-text">休日やっていること</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">プログラミング</li>
          <li class="list-group-item">ゲーム</li>
          <li class="list-group-item">YouTube鑑賞</li>
          <li class="list-group-item">映画・ドラマ・アニメ鑑賞</li>
          <li class="list-group-item">..etc</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">ゲーム</h4>
          <p class="card-text">FPSやストラテジー系のゲームが好き</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">BFシリーズ</li>
          <li class="list-group-item">CoD MWシリーズ</li>
          <li class="list-group-item">HoIシリーズ</li>
          <li class="list-group-item">Stellaris</li>
          <li class="list-group-item">..etc</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">映画</h4>
          <p class="card-text">SFやアクション系の映画が好き</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">スターウォーズ</li>
          <li class="list-group-item">パイレーツオブカリビアン</li>
          <li class="list-group-item">ミッションインポッシブル</li>
          <li class="list-group-item">バックトゥザフューチャー</li>
          <li class="list-group-item">踊る大捜査線</li>
          <li class="list-group-item">..etc</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">ドラマ</h4>
          <p class="card-text">SFやアクション系のドラマが好き</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">スターゲイト SG-1</li>
          <li class="list-group-item">スターゲイト アトランティス</li>
          <li class="list-group-item">プリズンブレイク</li>
          <li class="list-group-item">Hawaii Five-O</li>
          <li class="list-group-item">FRINGE</li>
          <li class="list-group-item">..etc</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">アニメ</h4>
          <p class="card-text">
            バトルとかアクションとか策略とか異世界ものとかいろいろと
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">幼女戦記</li>
          <li class="list-group-item">エロマンガ先生</li>
          <li class="list-group-item">とある魔術の禁書目録</li>
          <li class="list-group-item">とある科学の超電磁砲</li>
          <li class="list-group-item">進撃の巨人</li>
          <li class="list-group-item">
            <a
              href="https://annict.jp/@penguin_sharp"
              class="card-link"
              target="_blank"
              >annict</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">リンク集</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a
              href="https://github.com/MeilCli"
              class="card-link"
              target="_blank"
              >GitHub</a
            >
          </li>
          <li class="list-group-item">
            <a href="http://qiita.com/MeilCli" class="card-link" target="_blank"
              >Qiita</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="https://teratail.com/users/meilcli"
              class="card-link"
              target="_blank"
              >Teratail</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="https://bintray.com/meilcli"
              class="card-link"
              target="_blank"
              >Bintray</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="https://www.nuget.org/profiles/meilcli"
              class="card-link"
              target="_blank"
              >NuGet</a
            >
          </li>
          <li class="list-group-item">
            <a
              href="https://www.npmjs.com/~meilcli"
              class="card-link"
              target="_blank"
              >npm</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
