<div class="container">
  <h3>MeilCliについて</h3>
  <p>C#大好きマン(あとペンギンの画像も好き)</p>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <h4>居住歴</h4>
      <p>関西在住歴が一番長いけど関西弁話せないです</p>
      <ul>
        <li>生誕: 広島</li>
        <li>1才～: 横浜</li>
        <li>8才～: 兵庫</li>
        <li>18才・19才: 大阪</li>
        <li>20才・21才: 兵庫</li>
        <li>22才～: 大阪</li>
        <li>24才: 東京</li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <h4>休日</h4>
      <p>休日やっていること</p>
      <ul>
        <li>プログラミング</li>
        <li>ゲーム</li>
        <li>YouTube鑑賞</li>
        <li>映画・ドラマ・アニメ鑑賞</li>
        <li>..etc</li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <h4>好きなもの</h4>
      <ul>
        <li>C#</li>
        <li>ペンギンの画像</li>
        <li>Twitter</li>
        <li>..etc</li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <h4>嫌いなもの</h4>
      <ul>
        <li>Java</li>
        <li>VisualBasic</li>
        <li>きのこ</li>
        <li>..etc</li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <h4>ゲーム</h4>
      <p>FPSやストラテジー系のゲームが好き</p>
      <ul>
        <li>BFシリーズ</li>
        <li>CoD MWシリーズ</li>
        <li>HoIシリーズ</li>
        <li>Stellaris</li>
        <li>..etc</li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <h4>映画</h4>
      <p>SFやアクション系の映画が好き</p>
      <ul>
        <li>スターウォーズ</li>
        <li>パイレーツオブカリビアン</li>
        <li>ミッションインポッシブル</li>
        <li>バックトゥザフューチャー</li>
        <li>踊る大捜査線</li>
        <li>..etc</li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <h4>ドラマ</h4>
      <p>SFやアクション系のドラマが好き</p>
      <ul>
        <li>スターゲイト SG-1</li>
        <li>スターゲイト アトランティス</li>
        <li>プリズンブレイク</li>
        <li>Hawaii Five-O</li>
        <li>FRINGE</li>
        <li>..etc</li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <h4>アニメ</h4>
      <p>バトルとかアクションとか策略とか異世界ものとかいろいろと</p>
      <ul>
        <li>幼女戦記</li>
        <li>エロマンガ先生</li>
        <li>とある魔術の禁書目録</li>
        <li>とある科学の超電磁砲</li>
        <li>進撃の巨人</li>
        <li>..etc</li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <h4>リンク集</h4>
      <ul>
        <li><a href="https://github.com/MeilCli" target="_blank">GitHub</a></li>
        <li><a href="http://qiita.com/MeilCli" target="_blank">Qiita</a></li>
        <li>
          <a href="https://teratail.com/users/meilcli" target="_blank"
            >Teratail</a
          >
        </li>
        <li>
          <a href="https://bintray.com/meilcli" target="_blank">Bintray</a>
        </li>
        <li>
          <a href="https://www.nuget.org/profiles/meilcli" target="_blank"
            >NuGet</a
          >
        </li>
        <li>
          <a href="https://www.npmjs.com/~meilcli" target="_blank">npm</a>
        </li>
        <li>
          <a href="https://annict.jp/@penguin_sharp" target="_blank">annict</a>
        </li>
      </ul>
    </div>
  </div>
</div>
