@page "/"
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<h1>@text.Message</h1>

<div class="container">
    <div>
        <button class="btn btn-secondary active m-1" @onclick="showAll">All</button>
        @foreach (var tag in RepositoryContainer.Tags)
        {
            <button class="btn btn-primary m-1" @onclick="() => showTag(tag)">@tag</button>
        }
    </div>
    <div class="row">
        @foreach (var repository in Repositories)
        {
            <AboutMe.Components.RepositoryCard Repository="@repository" />
        }
    </div>
</div>

@code{
    I18nText.Index text = new I18nText.Index();
    IList<Repository> Repositories = RepositoryContainer.Cards;

    protected override async Task OnInitializedAsync()
    {
        text = await I18nText.GetTextTableAsync<I18nText.Index>(this);
    }

    private void showAll()
    {
        Repositories = RepositoryContainer.Cards;
    }

    private void showTag(string tag)
    {
        Repositories = RepositoryContainer.Cards.Where(x => x.Tags.Any(y => tag == y)).ToList();
    }
}
