<div class="container">
    <h3>レジュメ</h3>
    <hr class="mb-4" />
    <h4>スキル</h4>
    <div class="row">
        <app-skill-chart class="col-12" *ngFor="let skill of skills; let i = index" [skill]="skill"></app-skill-chart>
    </div>

    <h4>タイムライン</h4>
    <ul class="timeline">
        <li class="timeline-line"></li>
        <li class="timeline-group">
            <h4><span class="badge badge-pill badge-primary">2011</span></h4>
        </li>
    </ul>
    <ul class="timeline">
        <li class="timeline-line"></li>
        <li class="timeline-item" *ngFor="let timeline of timelines">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    {{ timeline.title }}
                    <div class="timeline-date">
                        {{ timeline.date }}
                    </div>
                </div>
                <div class="timeline-content" *ngIf="timeline.description != null">
                    <p [innerHTML]="timeline.description"></p>
                </div>
            </div>
        </li>
    </ul>
    <ul class="timeline">
        <li class="timeline-line"></li>
        <li class="timeline-group">
            <h4><span class="badge badge-pill badge-primary">Today</span></h4>
        </li>
    </ul>
    <ul class="timeline">
        <li class="timeline-line"></li>
        <!-- /.timeline-line -->
        <li class="timeline-item block">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
                <div class="timeline-content">
                    <div class="text-center">
                        <h4>MeilCli</h4>
                        <p class="timeline-date">.NET・Androidエンジニアー</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
