<div class="container">
  <h1>プライバシーポリシー</h1>
  <hr />
  <h2>広告の配信について</h2>

  <p>
    当ブログは第三者配信の広告サービス「<a
      href="https://www.google.co.jp/adsense/"
      target="_blank"
      >Google Adsense</a
    >」を利用しています。
  </p>

  <p>
    広告配信事業者は、ユーザーの興味に応じた広告を表示するためにCookieを使用することがあります。
  </p>

  <p>
    Cookieを無効にする設定およびGoogle Adsenseに関する詳細は「<a
      href="https://policies.google.com/technologies/ads?hl=ja"
      target="_blank"
      >広告 – ポリシーと規約 – Google</a
    >」をご覧ください。
  </p>

  <p>
    第三者がコンテンツおよび宣伝を提供し、訪問者から直接情報を収集し、訪問者のブラウザにCookieを設定したりこれを認識したりする場合があります。
  </p>

  <h2>アクセス解析ツールについて</h2>

  <p>
    当ブログでは、Googleによるアクセス解析ツール「<a
      href="https://analytics.google.com/analytics/web/"
      target="_blank"
      >Google Analytics</a
    >」を利用しています。
  </p>

  <p>
    このGoogle
    Analyticsはトラフィックデータの収集のためにCookieを使用しています。このトラフィックデータは匿名で収集されており、個人を特定するものではありません。この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。この規約に関して、詳しくは<a
      href="https://marketingplatform.google.com/about/analytics/terms/jp/"
      target="_blank"
      >ここをクリック</a
    >してください。
  </p>
</div>
